.popup__content {
    max-width: 430px;
    background: #fff;
    position: relative;
    border-radius: 10px;
    padding: 35px;
}

@media (max-width: 600px) {
    .popup__content {
        max-width: 282px;
        padding: 22px;
    }
}