.profile__description {
    max-width: 336px;
    margin: 18px 0 0 0;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width:880px) {
    .profile__description {
        max-width: 282px;
        margin: 14px 0 0 0;
        text-align: center;
    }
}

@media (max-width:600px) {
    .profile__description {
        font-family: Inter;
        font-size: 14px;
        line-height: 17px;
    }
}