.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    background-image: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__close-button {
        right: 0;
        width: 26px;
        height: 26px;
    }
}